<div class="card">
    <a data-bind="class: (readUrl ? 'enabled' : 'disabled'), attr:{ href: readUrl }" href="" target="_blank">
        <img class="card-img-top" data-bind="attr:{src: imageUrl}">
    </a>
    <div class="card-body">
        <div class="caption">
            <h5 class="card-title" data-bind="text: seriesTitle"></h5>
            <span class="card-text" data-bind="text: issueTitle"></span><br />
            <span class="card-text" data-bind="text: unreadIssues"></span> unread
        </div>
    </div>
    <div class="card-body">
        <div class="btn-group" role="group">
            <button title="Mark as read" type="button" class="btn btn-light" data-bind="click: markAsRead"><i class="far fa-square"></i></button>
            <button title="Go to series" type="button" class="btn btn-light" data-bind="click: goToSeries"><i class="fas fa-book"></i></button>
            <button title="Archive series" type="button" class="btn btn-light" data-bind="click: archiveSeries"><i class="fas fa-archive"></i></button>
            <a class="btn btn-light" data-bind="attr:{href: goodreadsUrl}" href="" target="_blank"><i class="fab fa-goodreads-g"></i></a>
        </div>
    </div>
</div>