<div class="card">
    <a data-bind="class: (readUrl ? 'enabled' : 'disabled'), attr:{ href: readUrl }" href="" target="_blank">
        <img class="card-img-top" data-bind="attr:{src: imageUrl}">
    </a>
    <div class="card-body">
        <div class="caption">
            <h5 class="card-title" data-bind="text: title"></h5>
            <span class="card-text" data-bind="text: onSaleDate"></span>
        </div>
    </div>
    <div class="card-body">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-light" data-bind="click: markAsUnread, class: isRead ? '' : 'active'">
                <input type="radio" name="read-status" id="unread" autocomplete="off" data-bind="checked: !isRead"> Unread
            </label>
            <label class="btn btn-light" data-bind="click: markAsRead, class: isRead ? 'active' : ''">
                <input type="radio" name="read-status" id="read" autocomplete="off" data-bind="checked: isRead"> Read
            </label>
        </div>
    </div>
</div>