<div class="card">
    <a data-bind="class: (readUrl ? 'enabled' : 'disabled'), attr:{ href: readUrl }" href="" target="_blank">
        <img class="card-img-top" data-bind="attr:{src: imageUrl}">
    </a>
    <div class="card-body">
        <div class="caption">
            <h5 class="card-title" data-bind="text: title"></h5>
            <!--<span class="card-text" data-bind="text: onSaleDate"></span>-->
        </div>
    </div>
    <div class="card-body">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <div class="btn-group" role="group">
                <button class="btn btn-light" type="button" data-bind="click: markAsUnread, visible: isRead()">
                    <i class="far fa-check-square"></i>
                </button>
                <button class="btn btn-light" type="button" data-bind="click: markAsRead, visible: !isRead()">
                    <i class="far fa-square"></i>
                </button>
                <button class="btn btn-light" type="button" data-bind="click: hide, visible: !hidden()">
                    <i class="far fa-eye-slash"></i>
                </button>
                <button class="btn btn-light" type="button" data-bind="click: unhide, visible: hidden()">
                    <i class="far fa-eye"></i>
                </button>
            </div>
        </div>
    </div>
</div>