
<div class="container-fluid">
    <div class="row split-header">
        <div class="col-xs-8">
            <h2>Recently Added</h2>
        </div>
        <div class="col-xs-4">
            <actions class="pull-right"
                     params="comics: added,
                             selectedAction: selectedAction,
                             onActionCompleted: onActionCompleted" />
        </div>
    </div>

    <div class="grid" data-bind="foreach: added">
        <comic params="readUrl: readUrl,
                        imageUrl: imageUrl,
                        title: title,
                        seriesTitle: seriesTitle,
                        isRead: isRead,
                        readNext: readNext,
                        dateAdded: dateAdded,
                        selected: selected,
                        select: select,
                        seriesId: seriesId" />
    </div>

    <div class="row split-header">
        <div class="col-xs-8">
            <h2>Recently Added to Marvel Unlimited</h2>
        </div>
        <div class="col-xs-4">
            <actions class="pull-right"
                     params="comics: updated,
                             selectedAction: selectedAction,
                             onActionCompleted: onActionCompleted" />
        </div>
    </div>

    <div class="grid" data-bind="foreach: updated">
        <comic params="readUrl: readUrl,
                       imageUrl: imageUrl,
                       title: title,
                       seriesTitle: seriesTitle,
                       isRead: isRead,
                       readNext: readNext,
                       dateUpdated: dateUpdated,
                       selected: selected,
                       select: select,
                       seriesId: seriesId" />
    </div>
</div>