<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comics Library</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @await Html.PartialAsync("_BaseUrls")

    <script src="~/lib/JQuery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/oidc-client-js/oidc-client.js"></script>
    <script src="~/lib/oidc-client-js/oidc-client.rsa256.slim.js"></script>

    <script src="~/js/Helpers/config.js"></script>
    <script src="~/js/Helpers/auth.js"></script>
    <script src="~/js/Helpers/callback.js"></script>

</body>
</html>