@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var appBaseUrl = Configuration["AppBaseUrl"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comics Library</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="hidden">
        <span id="appBaseUrl" data-stuff-url="@appBaseUrl"></span>
    </div>

    <script src="~/lib/JQuery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/oidc-client-js/oidc-client.js"></script>
    <script src="~/lib/oidc-client-js/oidc-client.rsa256.slim.js"></script>

    <script src="~/js/Helpers/auth.js"></script>
    <script src="~/js/Helpers/callback.js"></script>

</body>
</html>