@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var apiBaseUrl = Configuration["ApiBaseUrl"];
    var appBaseUrl = Configuration["AppBaseUrl"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comics Library</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @await Html.PartialAsync("_BaseUrls")

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Comics Library</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav flex-grow-1" data-bind="foreach: pages">
                        <li class="nav-item" data-bind="visible: menu, css: { active: isActive }">
                            <a class="nav-link text-dark" data-bind="text: name, click: $root.menuClick"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <div id="content" data-bind="foreach: pages">
                <div data-bind="visible: isActive">
                    <div data-bind="attr:{id: name}" class="container-fluid">

                    </div>
                </div>
            </div>
        </main>
    </div>

    <div data-bind="visible: loading" class="spinner" id="loading-indicator">
        <img src=@Url.Content("~/loading.gif") class="spinner-element" />
    </div>

    <script src="~/lib/JQuery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/FontAwesome/js/all.js"></script>
    <script src="~/lib/MomentJS/moment.js"></script>
    <script src="~/lib/KnockoutJS/knockout-3.5.0.js"></script>
    <script src="~/lib/RequireJS/require.js"></script>
    <script src="~/lib/oidc-client-js/oidc-client.js"></script>
    <script src="~/lib/oidc-client-js/oidc-client.rsa256.slim.js"></script>


    <script src="~/js/Helpers/config.js"></script>
    <script src="~/js/Helpers/auth.js"></script>
    <script src="~/js/Helpers/url.js"></script>
    <script src="~/js/Helpers/api.js"></script>
    <script src="~/js/Helpers/update.js"></script>

    <script src="~/js/ViewModels/search.js"></script>
    <script src="~/js/ViewModels/series.js"></script>
    <script src="~/js/ViewModels/library.js"></script>
    <script src="~/js/ViewModels/home.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>