div.mud-card-header {
    padding: 0.6rem;
}

    div.mud-card-header div.mud-card-header-avatar {
        margin-right: 0.5rem;
    }

button.mud-icon-button {
    padding: 0.5rem;
}

div.mud-card-actions {
    padding: 0.2rem 0.6rem;
}

div.series-header {
    padding: 1rem;
    max-width: 100%;
    display: flex;
}

    div.series-header img {
        margin: 0;
        width: 150px;
        object-fit: contain;
        align-self: flex-start;
    }

    div.series-header div.series-info {
        flex: 1 1 auto;
        padding: 0 1rem;
    }

    div.series-header div.series-icon {
        padding: 0;
        align-self: flex-start;
    }
