div.mud-card-header {
    padding: 0.6rem;
}

    div.mud-card-header div.mud-card-header-avatar {
        margin-right: 0.5rem;
    }

button.mud-icon-button {
    padding: 0.5rem;
}

div.mud-card-actions {
    padding: 0.2rem 0.6rem;
}

div.series-header {
    padding: 0;
    max-width: 100%;
    display: flex;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

    div.series-header img {
        margin: 0;
        width: 150px;
        object-fit: contain;
        align-self: flex-start;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        border-right: 1px solid #aaa;
    }

    div.series-header div.series-header-content {
        flex: 1 1 auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        display: flex;
        align-content: space-between;
    }

        div.series-header div.series-header-content div.series-info {
        }

        div.series-header div.series-header-content div.series-actions {
           margin-top: auto;
        }

    div.series-header div.series-icon {
        padding: 1rem;
        align-self: flex-start;
    }
